@use "mixins" as *;

:root {
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
  cursor: default;
}

html {
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

body {
  background: white;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.bg--primary {
  background: var(--color-background);
}

.headings {
  text-align: center;

  &__subtitle {
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-xl);

    @include typography('headings-h6',var(--headings-h6-bold-font-weight), var(--color-gray-900));
  }

  &__title {
    margin-top: 8px;

    @include typography('headings-h1',var(--headings-h1-black-font-weight), var(--color-gray-900));
  }
}

.headings__mix {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include width-tab-sm {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .headings__box {
  }
}

.headings__center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.success {
  background: var(--color-success);
}
.info {
  background: var(--color-info);
}
.warning {
  background: var(--color-warning);
}
.pink {
  background: var(--color-pink);
}
.secondary {
  background: var(--color-secondary);
}
.gray-200 {
  background: var(--color-gray-200);
}
.blue {
  background: var(--color-blue);
}

.slider-controls {
  display: flex;

  .slider-control {
    position: relative;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 100%;
    transition: all 0.2s;

    :not(&:disabled) {
      .slider-control {
        &:hover {
          background: var(--color-primary);
          color: var(--color-white);
        }
      }
    }

    &__icon {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      top: 12px;
      left: 12px;
    }
  }
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card__link {
  padding-right: 26px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: 0.2s;

  @include typography('base',var(--base-bold-font-weight), var(--color-gray-900));

  &::before {
    position: absolute;
    content: url("../images/icons/line-right.svg");
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 11px;
    width: 18px;
    line-height: 0;
  }

  &:hover {
    color: var(--color-primary);

    &:before {
      animation: animationItemLink 2s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%) infinite;
      animation-delay: calc(infinite * 1s);
    }
  }
}