:root {
  --font-family: "Lato", sans-serif;


  --headings-h1-font-size: 46px;
  --headings-h1-line-height: 130%;
  --headings-h1-bold-font-weight: 700;
  --headings-h1-black-font-weight: 900;


  --headings-h2-font-size: 32px;
  --headings-h2-line-height: 130%;
  --headings-h2-bold-font-weight: 700;
  --headings-h2-black-font-weight: 900;


  --headings-h3-font-size: 28px;
  --headings-h3-line-height: 150%;
  --headings-h3-bold-font-weight: 700;
  --headings-h3-black-font-weight: 900;


  --headings-h4-font-size: 24px;
  --headings-h4-line-height: 130%;
  --headings-h4-bold-font-weight: 700;
  --headings-h4-black-font-weight: 900;


  --headings-h5-font-size: 20px;
  --headings-h5-line-height: 130%;
  --headings-h5-bold-font-weight: 700;
  --headings-h5-black-font-weight: 900;


  --headings-h6-font-size: 16px;
  --headings-h6-line-height: 150%;
  --headings-h6-bold-font-weight: 700;
  --headings-h6-black-font-weight: 900;


  --display-h1-font-size: 72px;
  --display-h1-line-height: 130%;
  --display-h1-bold-font-weight: 700;
  --display-h1-black-font-weight: 900;


  --display-h2-font-size: 64px;
  --display-h2-line-height: 130%;
  --display-h2-bold-font-weight: 700;
  --display-h2-black-font-weight: 900;


  --display-h3-font-size: 56px;
  --display-h3-line-height: 130%;
  --display-h3-bold-font-weight: 700;
  --display-h3-black-font-weight: 900;


  --display-h4-font-size: 48px;
  --display-h4-line-height: 130%;
  --display-h4-bold-font-weight: 700;
  --display-h4-black-font-weight: 900;


  --lead-font-size: 20px;
  --lead-line-height: 150%;
  --lead-regular-font-weight: 400;
  --lead-bold-font-weight: 700;


  --large-font-size: 18px;
  --large-line-height: 150%;
  --large-regular-font-weight: 400;
  --large-bold-font-weight: 700;


  --base-font-size: 16px;
  --base-line-height: 160%;
  --base-regular-font-weight: 400;
  --base-bold-font-weight: 700;


  --small-font-size: 14px;
  --small-line-height: 150%;
  --small-regular-font-weight: 400;
  --small-bold-font-weight: 700;


  --extrasmall-font-size: 12px;
  --extrasmall-line-height: 150%;
  --extrasmall-regular-font-weight: 400;
  --extrasmall-bold-font-weight: 700;


  --extraextrasmall-font-size: 10px;
  --extraextrasmall-line-height: 150%;
  --extraextrasmall-regular-font-weight: 400;
  --extraextrasmall-bold-font-weight: 700;

  --post-font-size: 14px;
  --post-line-height: 150%;
  --post-regular-font-weight: 400;
  --post-bold-font-weight: 700;
}