@use "../mixins" as *;

.course-action {
  margin-top: 180px;

  @include width-tab-sm {
    margin-top: 120px;
  }

  &__container {
    padding: 48px 60px;
    border-radius: 4px;

    @include width-tab-sm {
      padding: 20px;
    }

    .course-action__countdown {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include width-tab-sm {
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
      }

      &-title {
        @include typography('headings-h2', var(--headings-h2-black-font-weight), var(--color-gray-900) );
      }

      &-items {
        display: flex;
        gap: 24px;
        align-items: center;

        .course-action__countdown-item {
          display: flex;
          flex-direction: column;
          gap: 4px;

          &__time {
            @include typography('headings-h5', var(--headings-h5-bold-font-weight), var(--color-gray-900));
          }

          &__total {
            @include typography('headings-h5', var(--headings-h5-font-size), var(--color-gray-900));
          }
        }
      }
    }

    .course-action__box {
      margin-top: 26px;
      display: flex;
      justify-content: space-between;
      gap: 21px;
      align-items: flex-end;

      @include width-tab-sm {
        flex-direction: column;
      }

      .course-action__form {
        display: flex;
        gap: 24px;
        width: 100%;

        @include width-tab-sm {
          gap: 10px;
        }

        &-item {
          display: flex;
          flex-direction: column;
          gap: 8px;
          flex: 1;

          @include typography('small', var(--small-regular-font-weight), var(--color-gray-800));

          &__input {
            width: 100%;
            padding: 12px 16px;
            border: 1px solid var(--color-gray-400);
            border-radius: 4px;
            background-color: var(--color-white);
            outline: none;

            @include typography('small', var(--small-regular-font-weight), var(--color-gray-700));

            &::placeholder {
              @include typography('small', var(--small-regular-font-weight), var(--color-gray-600));
            }
          }

          &__label {
            display: block;

            @include typography('small', var(--small-regular-font-weight), var(--color-gray-800));
          }
        }
      }
    }
  }
}