@use "../mixins" as *;

@keyframes rotateIn {
  0% {
    transform: rotate3d(1, .5, 1, 5deg) rotateY(10deg) translateX(-10px);
  }
  50% {
    transform: rotate3d(1, .5, 1, -5deg) rotateY(-10deg) translateX(10px);
  }
  100% {
    transform: rotate3d(1, .5, 1, 5deg) rotateY(10deg) translateX(-10px);
  }
}

@keyframes blogItemLink {
  0% {
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }
  50% {
    top: 50%;
    transform: translateX(7px) translateY(-50%);
  }
  100% {
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }
}


