@use "../mixins" as *;

.footer {
  background: var(--color-gray-900);
  padding-top: 80px;

  &__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;

    .footer__info {
      max-width: 345px;
      width: 100%;

      &-text {
        margin-top: 24px;
        color: var(--color-white);
        opacity: 0.6;
        font-weight: var(--extrasmall-regular-font-weight);

        @include extrasmall;
      }

      &-socials {
        margin-top: 38px;
        display: flex;
        align-items: center;
        gap: 20px;

        .footer__info-social__link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          opacity: 0.6;
          transition: opacity 0.4s;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .footer__nav {
      &-title {
        color: var(--color-white);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-weight: var(--headings-h6-bold-font-weight);

        @include headings-h6;
      }

      &-items {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .footer__item-tel, .footer__item-mail {
          padding-left: 24px;
          position: relative;
        }

        .footer__item-tel:after, .footer__item-mail:after {
          position: absolute;
          display: inline-block;
          left: 0;
          top: 50%;
          line-height: 0;
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          content: "";
          color: var(--color-white);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          filter: brightness(0) invert(1);
        }

        .footer__item-tel:after {
          // спросить у димы что за хуйня тут происходит
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M5.66683 1.94857C5.11454 1.94857 4.66683 2.39628 4.66683 2.94857V13.0527C4.66683 13.605 5.11454 14.0527 5.66683 14.0527H10.3335C10.8858 14.0527 11.3335 13.605 11.3335 13.0527V2.94857C11.3335 2.39628 10.8858 1.94857 10.3335 1.94857H10.2779L10.1155 2.3382C10.012 2.58661 9.76928 2.74842 9.50016 2.74842H6.50016C6.23105 2.74842 5.98832 2.58661 5.8848 2.3382L5.72242 1.94857H5.66683ZM3.3335 2.94857C3.3335 1.6599 4.37817 0.615234 5.66683 0.615234H10.3335C11.6222 0.615234 12.6668 1.6599 12.6668 2.94857V13.0527C12.6668 14.3414 11.6222 15.3861 10.3335 15.3861H5.66683C4.37816 15.3861 3.3335 14.3414 3.3335 13.0527V2.94857Z'/%3E%3C/svg%3E");

        }
          // это полный пиздец но работает
        .footer__item-mail:after {
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.3333 9.33333V2C14.3333 0.89543 13.4379 0 12.3333 0L2 1.01288e-05C0.895429 1.12019e-05 0 0.895442 0 2.00001V9.33333C0 10.4379 0.89543 11.3333 2 11.3333L12.3333 11.3333C13.4379 11.3333 14.3333 10.4379 14.3333 9.33333ZM13 3.50631V9.33333C13 9.70152 12.7015 10 12.3333 10L2 10C1.63181 10 1.33333 9.70152 1.33333 9.33333L1.33333 3.50622L6.04211 6.70819C6.72083 7.16972 7.61263 7.16972 8.29135 6.70819L13 3.50631ZM12.9924 1.89907C12.9438 1.57878 12.6672 1.33333 12.3333 1.33333L2 1.33334C1.66615 1.33334 1.38962 1.57874 1.34094 1.89899L6.79186 5.60562C7.0181 5.75946 7.31537 5.75946 7.54161 5.60562L12.9924 1.89907Z' fill='white'/%3E%3C/svg%3E");
        }

        .footer__nav-item {
          display: inline-block;
          color: var(--color-white);
          font-weight: var(--base-regular-font-weight);
          opacity: 0.6;
          transition: opacity 0.4s;

          @include base;

          &:hover {
            opacity: 1;
          }
        }
      }

      .footer__form {
        margin-top: 24px;
        max-width: 286px;
        width: 100%;

        &-box {
          position: relative;

          .footer__form-input {
            outline: none;
            border: 1px solid var(--background-footer-form-input-border);
            border-radius: 4px;
            background: var(--background-footer-form-input);
            width: 100%;
            color: var(--color-white);
            opacity: 0.6;
            font-weight: var(--extrasmall-regular-font-weight);
            padding: 9px 12px;
            transition: border 0.4s, opacity 0.4s;

            @include extrasmall;
          }

          .footer__form-btn {
            opacity: 0.6;
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            line-height: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.3s;

            &__icon {
              //padding-top: 5px; // дима отпиздит за этот код
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          &:hover {
            .footer__form-input {
              border: 1px solid var(--color-white);
            }

            .footer__form-btn {
              opacity: 1;
            }
          }
        }

        .footer__item-text {
          color: var(--color-white);
          font-weight: var(--extraextrasmall-regular-font-weight);
          margin-top: 12px;

          @include extraextrasmall;
        }
      }
    }
  }

  .copyright {
    background: var(--background-footer-copyright);
    margin-top: 60px;

    &__container {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .copyright__text {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--color-white);
        font-weight: var(--extrasmall-regular-font-weight);

        @include extrasmall;

        &-icon {
          color: var(--color-primary);
        }
      }

      .copyright__button {
        color: var(--color-white);
        opacity: 0.6;
        font-weight: var(--small-bold-font-weight);
        transition: opacity 0.4s;

        @include small;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}