@use "../mixins" as *;

.header__container {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 20px 0;

  &.burger--active {
    .burger__item {
      background: transparent;

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }

      &:before, &:after {
        top: 50%;
      }
    }

    .header__nav {
      top: -20px;
      transition: all .5s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%)
    }
  }

  @include width-tab-xl {
    justify-content: space-between;
  }

  .burger {
    display: none;
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;

    @include width-tab-xl {
      display: block;
    }

    &__item {
      display: flex;
      justify-self: end;
      border-radius: 4px;
      height: 3px;
      background: var(--color-gray-600);
      width: 15px;
      cursor: pointer;

      &:after, &:before {
        content: "";
        position: absolute;
        background: var(--color-gray-600);
        transition: 0.2s linear;
        z-index: 2;
        width: 20px;
        height: 3px;
        left: 0;
        border-radius: 4px;
      }

      &:after {
        top: 3px;
      }

      &:before {
        bottom: 3px;
      }
    }
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all .5s linear;

    @include width-tab-xl {
      position: absolute;
      top: -100vh;
      display: flex;
      flex-direction: column;
      left: 0;
      z-index: 2;
      background: var(--color-header-nav-background);
      padding: 50px 0;
      backdrop-filter: blur(5px);
      border-radius: 0 0 40px 40px;
    }

    &-menu {
      display: flex;
      align-items: center;
      gap: 40px;

      @include width-tab-xl {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &__item {
        &-link {
          @include typography('base',var(--base-bold-font-weight), var(--color-gray-800));

          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }

    &-cta {
      display: flex;
      align-items: center;
      gap: 36px;

      @include width-tab-xl {
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
      }

      &__auth {
        display: flex;

        &-btn {
          @include typography('base',var(--base-bold-font-weight), var(--color-gray-800));

          &:first-child {
            display: flex;
            align-items: center;
            gap: 8px;
          }

          &:hover {
            color: var(--color-primary);
          }
        }

        &>span {
          margin: 0 3px;

          @include typography('base',var(--base-bold-font-weight), var(--color-gray-800));
        }
      }
    }
  }
}