@use "../mixins" as *;

.advantages {
  margin-top: 180px;

  @include width-tab-xl {
    margin-top: 120px;
  }

  &:hover {
    .advantages__illustration-img {
      animation: rotateIn 10s linear infinite alternate;
      filter: drop-shadow(0 30px 15px rgba(0, 0, 0, 0.3));
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    @include width-tab {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-top: 30px;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 10px 0;
      border: 1px solid transparent;
      border-radius: 4px;
      max-width: 307px;
      width: 100%;
      color: var(--color-gray-600);
      font-weight: var(--base-bold-font-weight);

      @include base;

      &.advantages__list-item--active {
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;

    @include width-tab-xl {
      flex-direction: column;
      gap: 30px;
    }

    .advantages__description {
      max-width: 495px;

      &-title {
        color: var(--color-gray-900);
        font-weight: var(--headings-h2-black-font-weight);

        @include headings-h2;
      }

      &-text {
        color: var(--color-gray-800);
        font-weight: var(--base-regular-font-weight);
        margin-top: 24px;

        @include base;
      }
    }
  }
}