@use "play" as *;
@use "specification" as *;
@use "featured" as *;
@use "advantages" as *;
@use "lectures" as *;
@use "certificate" as *;
@use "team" as *;
@use "opinion" as *;
@use "blog" as *;
@use "subscribe" as *;