@use "../mixins" as *;

.subscribe {
  .subscribe__container {
    padding: 120px 0 180px;
    position: relative;

    @include width-tab-sm {
      padding: 60px 0 80px;
    }

    .subscribe__bgImages {
      position: absolute;
      bottom: 0;
    }

    .subscribe__bgImages-left {
      right: -354px;
    }

    .subscribe__bgImages-right {
      left: -354px;
    }

    .subscribe__headings {
      max-width: 810px;
      margin: 0 auto;
    }

    .subscribe__form {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-top: 60px;

      @include width-tab-sm {
        flex-direction: column;
        padding: 0 30px;
      }

      &-input {
        max-width: 422px;
        width: 100%;
        padding: 13px 16px;
        background: var(--color-white);
        border-radius: 4px;
        outline: none;
        color: var(--color-gray-600);
        font-weight: var(--base-regular-font-weight);

        @include base;

        @include width-tab-sm {
          max-width: 100%;
        }
      }
    }
  }
}