@use "../mixins" as *;

.team {
  padding-top: 160px;
  background: var(--color-gray-200);

  &__cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    overflow: hidden;
    position: relative;

    .team__card {
      position: absolute;
      text-align: center;
      transition: all .5s;

      &.team__card--slider__left {
        left: -100vw;
      }

      &.team__card--slider__right {
        right: -100vw;
      }

      &.team__card--active {
        position: static;
      }

      &-name {
        margin-top: 16px;
        color: var(--color-gray-800);
        font-weight: var(--lead-bold-font-weight);

        @include lead;
      }

      &-position {
        margin-top: 4px;
        color: var(--color-gray-700);
        font-weight: var(--base-regular-font-weight);

        @include base;
      }

      &-bg {
        border-radius: 4px;

        .team__card-profile {
          padding: 20px 20px 0 20px;
          position: relative;

          &::after {
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: var(--background-team-card-profile);
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;
          }

          &__socials {
            position: absolute;
            right: 20px;
            bottom: 20px;
            gap: 12px;
            display: flex;

            &-item {
              &__icon {
                opacity: 0;
              }
            }
          }

          &:hover {
            &::after {
              opacity: 1;
              z-index: 1;
            }

            .team__card-profile__socials {
              z-index: 2;
            }

            .team__card-profile__socials-item__icon {
              opacity: 0.6;

              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
