@use  "../mixins" as *;

.course {
  margin-top: 100px;
  padding-bottom: 120px;

  &__container {
    max-width: 1020px;
    width: 100%;
    text-align: center;

    .course__subtitle {
      letter-spacing: var(--letter-spacing-xl);
      text-transform: uppercase;

      @include typography('headings-h6',var(--headings-h6-bold-font-weight), var(--color-primary));
    }

    .course__title {
      margin-top: 12px;

      @include typography('headings-h1',var(--display-h1-black-font-weight), var(--color-gray-900));
    }
  }
}