@use "../mixins" as *;

.courses-slider {
  margin: 120px 0 180px;

  @include width-tab-sm {
    margin: 80px 0;
  }

  &__headings {
    text-align: left;
  }

  &__items {
    margin-top: 60px;
    display: flex;
    gap: 30px;
    justify-content: space-between;

    .featured__card--prev {
      display: none;
    }
    .featured__card--next{
      display: none;
    }
    .featured__card--active {
      display: inline-flex;
      align-items: center;
    }

    .featured__card {
      border: 1px solid var(--color-gray-300);
      border-radius: 4px;
      max-width: 600px;
      height: 214px;
      width: 100%;


      &:hover {
        box-shadow: var(--box-shadow-featured-card);
        background: var(--white);
        transform: scale(1.01);
        transition: transform .2s;
      }

      @include width-tab-sm {
        flex-direction: column;
        max-width: 350px;
        height: 450px;
      }

      .featured__card-content {
        padding: 0  32px;

        @include width-tab-sm {
          padding: 32px;
        }

        .featured__card-content__post {
          display: inline-block;
          padding: 1px 8px;
          border-radius: 4px;

          @include typography('post',var(--post-regular-font-weight), var(--color-white));
        }

        .featured__card-content__description {
          margin-top: 20px;

          @include typography('lead',var(--lead-bold-font-weight), var(--color-gray-900));
        }

        .featured__card-content__price {
          margin-top: 20px;

          @include typography('large',var(--large-regular-font-weight), var(--color-gray-700));

          .featured__card-content__price-item {
            display: inline-block;
            color: var(--color-danger);
            font-weight: var(--large-bold-font-weight);
          }
        }
      }
    }
  }

  &__explore {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @include width-tab-sm {
      flex-direction: column;
      gap: 20px;
    }

    &-text {
      @include typography('headings-h3',var(--headings-h3-bold-font-weight), var(--color-gray-900));

      @include width-tab-sm {
        text-align: center;
      }
    }
  }
}