@use "../mixins" as *;

.events-slider {
  background-color: var(--color-gray-200);
  margin-top: 120px;

  &__container {
    padding: 100px 0 180px;

    .events-slider__items {
      padding: 0 15px;
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      gap: 30px;

      overflow: hidden;
      position: relative;

      .events-slider__item {
        position: absolute;
        max-width: 390px;
        height: 323px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;
        border: 1px solid var(--color-gray-300);
        border-radius: 4px;

        &:hover {
          box-shadow: var(--box-shadow-events-list-item);
          background: var(--color-white);
          transform: scale(1.01);
          transition: transform .1s;
        }

        &.events-slider__item--slider__left {
          left: -100vw;
        }

        &.events-slider__item--slider__right {
          right: -100vw;
        }

        &.events-slider__item--active {
          position: static;
        }
      }

    }
  }
}