@use  "../mixins" as *;

.event-request {
  margin-top: 120px;

  @include width-tab {
    margin-top: 60px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    @include width-tab {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 30px;
    }

    .event-request__content {
      display: flex;
      flex-direction: column;
      max-width: 510px;

      &-headings {
        text-align: left;
      }

      &-form {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        &__label {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: var(--color-gray-800);
          font-weight: var(--base-regular-font-weight);

          @include base;

          &-input {
            border: 1px solid var(--color-gray-400);
            border-radius: 4px;
            padding: 13px 16px;
            width: 100%;
            outline: none;
            color: var(--color-gray-600);
            transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s;

            &::placeholder {
              transition: opacity .4s;
            }

            &:focus {
              box-shadow: 0 0 0 1px var(--color-gray-200);
              border-color: var(--color-gray-300);
              color: var(--color-gray-700);
              font-weight: var(--base-bold-font-weight);

              &::placeholder {
                opacity: 0;
              }
            }

            &:hover {
              &::placeholder {
                opacity: 0.5;
              }
            }
          }
        }
      }

      &-button {
        margin-top: 40px;
      }

      &-note {
        margin-top: 24px;
        color: var(--color-gray-800);
        font-weight: var(--base-regular-font-weight);

        @include base;
      }
    }
  }
}