@use "../mixins" as *;

.events-grid {
  display: none; //none
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 30px;
  margin-top: 60px;

  @include width-tab-xl {
    grid-template: repeat(4, 1fr)/repeat(2, 1fr);
  }

  @include width-tab-sm {
    grid-template: repeat(9, 1fr)/repeat(1, 1fr);
    place-items: center;
  }

  &__item{
    max-width: 390px;
    height: 323px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    border: 1px solid var(--color-gray-300);
    border-radius: 4px;

    &:hover {
      box-shadow: var(--box-shadow-events-list-item);
      background: var(--color-white);
      transform: scale(1.01);
      transition: transform .1s;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__date {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &-title {
          color: var(--color-primary);
          font-weight: var(--headings-h3-black-font-weight);

          @include headings-h3;
        }

        &-time {
          color: var(--color-gray-700);
          font-weight: var(--base-regular-font-weight);

          @include base;
        }
      }

      &__info {
        &-title {
          color: var(--color-gray-900);
          font-weight: var(--large-bold-font-weight);

          @include large;
        }

        &-subtitle {
          display: inline-block;
          margin-top: 8px;
          color: var(--color-gray-700);
          font-weight: var(--base-regular-font-weight);

          @include base;
        }
      }
    }

    &-button {
      text-align: center;
    }
  }
}