@use "../mixins" as *;

.event__heading {
  text-align: center;
  padding: 100px 0 120px;

  &-subtitle {
    letter-spacing: var(--letter-spacing-xl);
    text-transform: uppercase;
    margin-bottom: 12px;

    @include typography('headings-h6',var(--headings-h6-bold-font-weight), var(--color-primary));
  }

  &-title {
    max-width: 1020px;
    margin: 0 auto;

    @include typography('headings-h1',var(--headings-h1-black-font-weight), var(--color-gray-900));
  }
}