@use "../mixins" as *;

.events__toolbar  { //filters__items
  margin: 60px 0;
  display: flex;
  justify-content: space-between;

  &-item { //filters__item
    display: flex;
    align-items: center;
    gap: 12px;

    &__title { //filters__item-title
      display: inline-block;
      color: var(--color-gray-700);
      font-weight: var(--small-regular-font-weight);

      @include small;
    }

    &__label { //filters__item-label
      font-weight: var(--base-bold-font-weight);
      color: var(--color-gray-800);

      @include base;
    }

    &__custom-select { //filters__item-customSelect
      position: relative;

      .events__toolbar-item__select { //filters__item-select
        &:open {
          &~.events__toolbar-item__custom-select__arrow { //filters__item-select__arrow
            transform: rotate(180deg);
          }
        }
      }

      &__arrow {
        position: absolute;
        top: calc(50% - 8px);
        right: 16px;
        user-select: none;
        transform: rotate(0deg);
        transition: all 0.4s;
      }
    }

    &__custom-select__pageslist { //filters__item-pagesList
      position: relative;

      &:after {
        content: "";
        position: absolute;
        display: block;
        background-image: url("../../images/icons/up-down-select.svg");
        width: 16px;
        height: 16px;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
      }
    }

    &__select { //filters__item-select
      display: block;
      box-sizing: border-box;
      border: 1px solid var(--color-gray-400);
      border-radius: 4px;
      padding: 12px 16px;
      outline: none;
      appearance: none;
      position: relative;
      z-index: 1;

      &-option { //filters__item-select__option
        font-weight: var(--small-regular-font-weight);
        color: var(--color-gray-800);

        @include small;
      }
    }

    /*    падинги списков   */
    .word__list {
      width: 160px;
    }

    .numeric__list {
      width: 72px;
    }
  }
}

.events__search {
  position: relative;

  &-item {
    font-weight: var(--small-regular-font-weight);
    color: var(--color-gray-600);
    padding: 11px 16px;
    outline: none;
    border: 1px solid var(--color-gray-400);
    border-radius: 4px;
    width: 282px;
    z-index: 1;

    @include small;
  }

  &-button {
    position: absolute;
    content: "";
    width:16px;
    height:16px;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
  }
}

.events__view {
  display: flex;
  align-items: center;
  gap: 12px;

  &-button {
    &.filters__view-action--active {
      color: var(--color-primary);
    }

    &:hover {
      color: var(--color-primary);
    }
  }
}