@use "../mixins" as *;

.speakers {
  margin-top: 180px;

  @include width-tab {
    margin-top: 60px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include width-tab {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    .speakers__content {
      max-width: 600px;
      width: 100%;

      &-headings {
        text-align: left;

        @include width-tab {
          text-align: center;
        }
      }

      &-position {
        margin-top: 16px;
        color: var(color-gray-700);
        font-weight: var(--lead-regular-font-weight);

        @include lead;
      }

      &-text {
        margin-top: 32px;
        color: var(--color-gray-800);
        font-weight: var(--base-regular-font-weight);

        @include base;
      }

      &-companys {
        margin-top: 40px;
        display: flex;
        gap: 40px;

        @include width-tab {
          justify-content: center;
        }

        .speakers__content-company {
          display: inline-block;
          height: 50px;
          width: 105px;
          transition: scale .3s;

          &:hover {
            transform: scale(1.05);
          }
        }
      }

      &-socials {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 24px;

        @include width-tab {
          justify-content: center;
        }

        &__link {
          color: var(--color-gray-700);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          transition: scale, color .3s;

          &:hover {
            color: var(--color-primary);
            transform: scale(1.05);
          }
        }
      }
    }
  }
}