@use "../mixins" as *;

.blog-grid {
  margin-top: 60px;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 390px); // 1fr + 1fr + 1fr = 3fr
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;

    .item4 {
      grid-area: 2 / 1 / 2 / 3; // строка 2, с колонки 1 по колонку 3 (не включая)
      // или просто:
      // grid-row: 2;
      // grid-column: 1 / 3; // занимает колонки 1 и 2 = 66.66%
    }

    .item5 {
      grid-area: 2 / 3; // строка 2, колонка 3 = 33.33%
    }
  }
}

